.App {
  text-align: center;
}

.header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

button {
  margin: auto;
}

.dimension {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 25%;
}

.dimension-input {
  width: 15%;
  margin: auto;
}

.turn {
  margin-bottom: 2rem;
}

.board {
  margin: 0 auto 2rem auto;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 8px solid #2c3e50;
  border-radius: 4px;
}

.cell {
  border: 1px solid black;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.x {
  color: blue;
}

.o {
  color: red;
}

.outcome {
  margin-top: 2rem;
}
